extends layout

mixin contestStatusDisplay(message, buttonText, buttonDest)
	div.contest-status-display
		div.alert.alert-info #{message}
		div 
			a.btn.btn-primary(href="#{buttonDest}") #{buttonText}

mixin videoList(header, videos)
	div.panel.panel-primary
		div.panel-heading
			h2 #{header}
		div#videoList
			for video in videos
				+videoDisplay(video)

block extra-header-data
	+narrowPage

block content
	h1 Video Contest

	// Contest status display
	if contest.status === ContestStatus.acceptingSubmissions
		+contestStatusDisplay("Accepting submissions for the video contest!", "Submit a Video", "/submit")
	else if contest.status === ContestStatus.voting
		+contestStatusDisplay("Voting is open!", "Vote", "/vote")
	else if contest.status === ContestStatus.done
		+contestStatusDisplay("The contest is finished!", "Restart", "/restart")
	
	if contest.winner
		+videoList("Current Winner", [contest.winner])
	
	if contest.submissionsInRunning.length > 0
		+videoList("Submissions", contest.submissionsInRunning)
