extends layout

block content
  +headerWithBackButton("Submit a Video")
  
  form.form-horizontal.submit-form.row(method="POST" action="/submit-action")
    .form-group
      label.control-label.col-sm-3(for="submitter-name") Your Name
      input.col-sm-9(type="text" name="submitter-name")
    .form-group
      label.control-label.col-sm-3(for="title") Video title
      input.col-sm-9(type="text" name="title")
    .form-group
      label.control-label.col-sm-3(for="youtube-url") YouTube URL
      input.col-sm-9(type="text" name="youtube-url")
    .form-group
      input.control-label.btn.btn-primary(type="submit")
