.page {
  max-width: 800px;
  text-align: center;
}

.contest-status-display {
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-form {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

.back-button {
  display: inline-block;
  margin-right: 20px;
}

#submit-vote {
  margin-bottom: 40px;
}
